<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
    <link href="https://cdn.datatables.net/v/dt/dt-2.0.3/datatables.min.css" rel="stylesheet">
    <style>
        .sidebar ul li a.highlight {
            background-color: #1e2389; /* Dark Blue */
            color: #fff; /* White */
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
        }
    </style>
</head>
<body>
    
    <div class="main-container">
        <div class="sidebar">
            <h2><img src="static/css/max_logo.jpg"></h2>
            <ul>
                <li><a href="/dashboard"><i class="fa-solid fa-gauge-high"></i>DASHBOARD</a></li>
                <li><a href="/orders"><i class="fa-solid fa-box"></i>ORDERS</a></li>
                <li><a href="/items"><i class="fa-solid fa-toolbox"></i>ITEMS</a></li>
                <li><a href="/customers"><i class="fa-solid fa-users-rectangle"></i>CUSTOMERS</a></li>
                <li><a href="/expenses"><i class="fa-solid fa-money-bill"></i></i>EXPENSES</a></li>
                <li><a href="/cashbook" class = "highlight"><i class="fa-solid fa-file-invoice-dollar"></i>CASHBOOK</a></li>
                <li><a href="/orderitems"><i class="fa-solid fa-shirt"></i>ORDER ITEMS</a></li>
            </ul>
            <ul class="bottom-items">
                <li><a href="#settings"  ><i class="fa-solid fa-gear"></i>  SETTINGS</a></li>
                <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>  LOGOUT</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="status-sections">
                <div class="status-item">
                    <h2><i class="fa-solid fa-circle-info"></i> ORDERS</h2>
                    <p id="ready-orders">{{ordered}}</p>
                </div>
                <div class="status-item">
                    <h2><i class="fa-solid fa-box"></i>   READY</h2>
                    <p id="ready-to-deliver-orders">{{ready}}</p>
                </div>
                <div class="status-item">
                    <h2><i class="fa-solid fa-truck-fast"></i>    DELIVERED</h2>
                    <p id="delivered-orders">{{delivered}}</p>
                </div>    
            </div>

            <!-- Filter Section -->
            <div class="filter-section">
                <div class="filter-group">
                    <label for="from-date">From Date:</label>
                    <input type="date" id="from-date">
                </div>
                <div class="filter-group">
                    <label for="till-date">Till Date:</label>
                    <input type="date" id="till-date">
                </div>
                <button id="apply-filters">Apply Filters</button>
                <button id="download-btn">Download Excel</button>
            </div>

            <!-- Totals Section -->
            <div class="totals-section">
                <p>BALANCE: <span id="total-price"><b>{{total_price}}</b></span>
                    IN: <span id="total-debit">{{total_debit}}</span>
                    OUT: <span id="total-credit">{{total_credit}}</span>
                </p>

            </div>

            <div class="item-list">
                <div class="table-data">
                    <table class="display" id="item-table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Category</th>
                                <th>Text</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in cashbook %}
                            <tr>
                                <td>{{ order.date }}</td>
                                <td>{{ order.category }}</td>
                                <td>{{ order.text }}</td>
                                <td>{{ order.debit }}</td>
                                <td>{{ order.credit }}</td>
                                <td>{{ order.balance }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Include jQuery UI Library -->
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.3/datatables.min.js"></script>
    <script>
        document.getElementById('download-btn').addEventListener('click', function() {
            var fromDate = document.getElementById('from-date').value;
            var tillDate = document.getElementById('till-date').value;
            window.location.href = '/cashbook/download?from_date=' + fromDate + '&till_date=' + tillDate;
        });
    </script>
    <script>
        $(document).ready(function() {
            var table = $('#item-table').DataTable({
                "scrollY": "270px",
                "scrollCollapse": true,
                "paging": false
            });

            $('#apply-filters').on('click', function() {
                var fromDate = $('#from-date').val();
                var tillDate = $('#till-date').val();

                // Remove any existing custom search function
                $.fn.dataTable.ext.search = $.fn.dataTable.ext.search.filter(function(func) {
                    return func.name !== 'dateFilter';
                });

                // Add new custom search function
                $.fn.dataTable.ext.search.push(
                    function dateFilter(settings, data, dataIndex) {
                        var date = data[0]; // Use data for the date column

                        if ((fromDate === "" || date >= fromDate) &&
                            (tillDate === "" || date <= tillDate) ){
                            return true;
                        }
                        return false;
                    }
                );

                table.draw();
                calculateTotals(table);
            });

            function calculateTotals(table) {
                var totalPrice = 0;
                var totalDebit = 0;
                var totalCredit = 0;

                table.rows({ filter: 'applied' }).every(function(rowIdx, tableLoop, rowLoop) {
                    var data = this.data();
                    totalPrice += parseFloat(data[3]) - parseFloat(data[4]);
                    totalDebit += parseFloat(data[3]);
                    totalCredit += parseFloat(data[4]);
                });

                $('#total-price').text(totalPrice.toFixed(2));
                $('#total-debit').text(totalDebit.toFixed(3));
                $('#total-credit').text(totalCredit.toFixed(4));
            }
        });
    </script>
</body>
</html>
